<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Events</title>
  </head>
  <body>
    <h1>Events</h1>

    <form action="/" method="post">
      <label for="new-event">
        <p>Create New Event</p>
        <input type="text" id="new-event" name="title" required>
      </label>
      <input type="submit">
    </form>
    
    <a href="/signup">Sign up</a>
    <a href="/login">Login</a>

    <ul>
      <% events.forEach(function(event) { %>
        <li><%= event.title %></li>
      <% }) %>
    </ul>

  </body>
</html>
