<form action="/" method="post">
  <label for="event-title">
    <p>Event Title</p>
    <input type="text" id="event-title" name="title" autofocus required>
  </label>
  <label for="event-type">
    <p>Event Type</p>
    <input type="text" id="event-type" name="eventType" required>
  </label>
  <label for="event-host">
    <p>Event Host</p>
    <input type="text" id="event-host" name="eventHost" required>
  </label>
  <label for="event-location">
    <p>Location</p>
    <input type="text" id="event-location" name="eventLocation" required>
  </label>
  <label for="event-start">
    <p>Start Time</p>
    <input type="datetime-local" id="event-start" name="startDate" required>
  </label>
  <label for="event-end">
    <p>End Time</p>
    <input type="datetime-local" id="event-end" name="endDate" required>
  </label>
  <label for="event-guestList">
    <fieldset class="form-group" id="event-guestList">
        <input type="hidden" name="guestList" id="guestList" value="">
        <input type="text" class="form-control form-guestList" placeholder="Guest 1">
        <input type="text" class="form-control form-guestList" placeholder="Guest 2">
    </fieldset>
    <p id="add-guest">+ Add a Guest</p>
  </label>
  <label for="event-message">
    <p>Message (optional)</p>
    <input type="textarea" id="event-message" name="message">
  </label>
  <input type="submit">
</form>